<form [formGroup]="profileForm">
  <label>firstName: </label><input type="text" [formControl]="firstName"> <br>
  <label>lastName: </label><input type="text" [formControl]="lastName"><br>


  <div *ngFor="let account of bankAccounts">
      <label>{{ account.label }}</label>
      <input *ngFor="let field of account.fields" type="text" [placeholder]="field.label" [formControl]="field.control"><br>
  </div>

  <button (click)="addRow()">Add bank account</button>
  <button (click)="submit()">Submit</button>
</form>
